.contact form {
  flex: 1 1 30rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.contact form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form .inputBox input,
.contact form textarea {
  outline: none;
  border: 1px solid rgb(204, 196, 196);
  border-radius: 1rem;
  width: 49%;
  margin: 1rem 0;
  padding: 0.6rem;
  font-size: 0.9rem;
  color: #333;
  background: #f7f7f7;
  text-transform: none;
}

.contact form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}
